#code {
    width: 345px;
    height: 200px;
    resize: none;
    border-radius: 0px;
    background-color: black;
    color: rgb(0, 0, 0);
    font-family: custom_font;
    caret-color: white;
    transform: translate(0px,0px);
}
#output {
    width: 345px;
    color: white;
    background-color: black;
    font-family: custom_font;
    height: 117px;
}
#input_console {
    width: 345px;
    height: 15px;
    font-size: 10px;
    resize: none;
    font-family: custom_font;
    color: white;
    background-color: black;
    overflow: none;
    border: none;
}
  
  .backdrop {
    position: absolute;
    z-index: 1;
    border: 2px solid transparent;
    overflow: auto;
    pointer-events: none;
  }
  
  .custom-area {
    width: 345px;
    height: 200px;
    resize: none;
    border-radius: 0px;
    color: white;
    font-family: custom_font;

    font-size: 13.5px;

    white-space: pre-wrap;
    word-wrap: break-word;
  }
